/* Makes content size calculations easier */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Adds classes to adjust the flexbox behavior of different elements for precise scrolling */
.flex-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}
.flex-fill {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  min-height: 0;

  > * {
    min-height: 0;
  }
}
.flex-scroll {
  overflow-y: auto;
  min-height: 0;
}
.flex-fixed {
  flex-shrink: 0;
}

/* Adds classes to adjust the grid behavior of different elements for precise scrolling */
.dashboard-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  min-height: 0;

  > * {
    min-height: 0;
  }
}
@media (max-width: 768px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}

/* Adds a rounded border around the tabs */
.tab-content {
  border-radius: 0 0 4px 4px;
  border-left: 1px solid var(--bs-border-color);
  border-right: 1px solid var(--bs-border-color);
  border-bottom: 1px solid var(--bs-border-color);
  overflow-y: auto;
  min-height: 0;
}
.nav-tabs {
  margin-bottom: 0;
}

/* Adds a class for text to fade right on overflow */
.text-fade {
  max-width: calc(100% - 80px);
  -webkit-mask-image: linear-gradient(90deg, #000 70%, transparent);
          mask-image: linear-gradient(90deg, #000 70%, transparent);
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
}

/* Adds a visual indicator for dragged transform items */
.card[aria-grabbed="true"] {
  filter: contrast(80%);
}